<h1>Products</h1>


{{#if Products.length}}
{{#each Products}}
<div class="card">
    <h3 class="card-title">{{title}}</h3>
    <div class="card-info">
        <span class="card-price">{{price}}</span>
        <span class="card-stock">{{stock}}</span>
    </div>
</div>



{{/each}}

{{else}}
<p>no hay productos disponibles</p>
{{/if}}